<% include ./partials/header %>

<!-- Latest version of the explorer css for your locale -->
<link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/elements/1.0.2/en-US/explorer.css"/>

<h2 class="text-center mtm">Welcome, <%= user.username %></h2>
<div class="grid-x grid-padding-x mtm">
	<div class="cell small-12 medium-4 large-3">
    <h4>Stored User Info</h4>
    <p>
      id: <%= user.id %><br/>
      username: <%= user.username %><br/>
      Box App User id: <%= user.boxId %><br/>
    </p>

		<h4>Box App User</h4>
    <p>
      id: <%= appUser.id %><br/>
      name: <%= appUser.name %><br/>
      login: <%= appUser.login %><br/>
			created_at: <%= appUser.created_at %><br/>
    </p>
  </div>
  <div class="cell auto">
    <h4>Box Content Explorer</h4>
    <div class="explorer-container"></div>
  </div>
</div>

<!-- Latest version of the explorer js for your locale -->
<script src="https://cdn01.boxcdn.net/platform/elements/1.0.2/en-US/explorer.js"></script>
<script>
  <% if (typeof user.token !== undefined) { %>
    var folderId = '0';
    var accessToken = '<%= user.token %>';
    var contentExplorer = new Box.ContentExplorer();
    contentExplorer.show(folderId, accessToken, {
      container: '.explorer-container'
    });
  <% } %>
</script>

<% include ./partials/footer %>
