{{#> base }}

{{#*inline "content-block"}}

<div class="container">
	<h2 class="text-center mtm">Welcome, {{user.username}}</h2>
	<hr>
	<div class="row">
		<div class="col col-md-6 col-lg-4 mtm">
			<h4>Box App User</h4>
			{{#if appUser}}
				<p>
					name: {{appUser.name}}<br/>
					box user id: {{appUser.id}}<br/>
					created_at: {{appUser.created_at}}<br/>
				</p>
			{{/if}}
			<h4>Box Actions</h4>
			<form class="form-inline" action="/profile/create-folder" method="post">
			  <div class="form-group">
			    <label for="folderName" class="sr-only">Password</label>
			    <input type="text" name="folderName" class="form-control" id="folderName" placeholder="folder name">
			  </div>
			  <button type="submit" class="btn btn-primary">Create Folder</button>
			</form>

			<form method="post" action="profile/upload" enctype="multipart/form-data">
				<div class="form-group mts">
					<label id="uploadLabel" for="uploadFile">Upload file</label>
					<input id="uploadFile" type="file" name="file"/>
				</div>
			</form>
		</div>

		<div class="col col-lg-8 col-md-6">

			<div class="row mtm">
				<ul class="nav nav-pills" id="file-options" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="explorer-tab" data-toggle="pill" href="#explorer" role="tab">Box Content Explorer</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="custom-tab" data-toggle="pill" href="#custom" role="tab">Custom List Files</a>
					</li>
				</ul>
			</div>

			<div class="tab-content">

				<!-- Box Content Explorer -->
				<div class="tab-pane show active mts" role="tabpanel" id="explorer">
					<p>access token: {{user.boxAccessToken}}</p>
					<div style="height:500px" class="explorer-container"></div>
				</div>

				<!-- Custom ui for listing files -->
				<div class="tab-pane mts" role="tabpanel" id="custom">
					<table class="mtm table">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Name</th>
								<th scope="col">Last Modified</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							{{#each items as |item|}}
								<tr>
									<td>
										{{#if_file item.type}}
											<img src="profile/thumbnail/{{item.id}}" alt="" />
										{{/if_file}}
										{{#if_folder item.type}}
											<img src="/img/folder.png" width="32px" alt="" />
										{{/if_folder}}
									</td>
									<td>{{item.name}}</td>
									<td>{{item.modified_at}}</td>
									<td>
										<div class="dropdown show">
   										<a href="#" data-toggle="dropdown">list</a>
     									<div class="dropdown-menu">
     										<a class="dropdown-item" href="/profile/download/{{item.id}}">Download</a>
     									</div>
                  	</div>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>

<script>
  var folderId = '0';
  var accessToken = '{{user.boxAccessToken}}';
  var contentExplorer = new Box.ContentExplorer();
	var form = document.getElementById('uploadFile')
	var uploadLabel = document.getElementById('uploadLabel')

  contentExplorer.show(folderId, accessToken, {
    container: '.explorer-container'
  });

	form.onchange = function(event) {
		uploadLabel.innerHTML = 'Uploading...';
		this.form.submit();
	}
</script>

{{/inline}}

{{/base}}
