{{#> base }}

{{#*inline "content-block"}}

<h2 class="text-center mtm">Welcome, {{user.displayName}}</h2>
<div class="grid-x grid-padding-x mtm">
	<div class="cell small-12 medium-6 large-4">

		<h4>Box App User (from API call)</h4>
		{{#if appUser}}
			<p>
	      box id: {{appUser.id}}<br/>
				external_app_user_id: {{appUser.external_app_user_id}}<br/>
	      name: {{appUser.name}}<br/>
	      login: {{appUser.login}}<br/>
				created_at: {{appUser.created_at}}<br/>
	    </p>
		{{/if}}

		<h4>Box Actions</h4>
		<form action="/profile/create-folder" method="post">
			<div class="input-group">
				<input class="input-group-field" placeholder="folder name" type="text" name="folderName">
		    <div class="input-group-button">
		      <input type="submit" class="button" value="Create Folder">
		    </div>
			</div>
		</form>
  </div>
  <div class="cell auto">
    <h4>Box Content Explorer (token: {{user.boxAccessToken}})</h4>
    <div style="height:500px" class="explorer-container"></div>
  </div>
</div>

<script>
    var folderId = '0';
    var accessToken = '{{user.boxAccessToken}}';
    var contentExplorer = new Box.ContentExplorer();
    contentExplorer.show(folderId, accessToken, {
      container: '.explorer-container'
    });
</script>

{{/inline}}

{{/base}}
